.main-container {
  grid-area: main;
  padding: 3em;
  margin: 3em;
}

.projects-header {
  font-family: 'Bebas Neue', cursive;
  font-weight: 100;
  color: var(--accent-main);
  font-size: 3em;
  letter-spacing: .15em;
  padding-left: 4em;
}

#projects-hr {
  color: var(--dark-accent);
  height: 1.75px;
  width: 35%;
  margin-right: auto;
  margin-left: 10em;
  margin-top: 0;
  margin-bottom: 4em;
}

.card {
  margin: 1em;
}

.card-link {
  text-decoration: none;
}

.card-body {
  font-size: .95em;
  letter-spacing: .2em;
}

.card-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.75em;
  color: var(--accent-main);
  padding-top: 1em;
}

.card-subtitle {
  font-size: .90em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: var(--dark-accent);
}

.card-text {
  font-size: 1.5em;
  padding-top: .5em;
  padding-bottom: .5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: var(--dark);
}

.card:hover {
  transform: scale(1.05);
}

.footer {
  margin-top: 10em;
}