body {
  margin: 0;
  padding: 0;
  background: rgb(0, 0, 0);
  min-height: 100vh;
}

.eyes {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.eye1 {
  width: 300px;
  height: 150px;
  background: rgba(255, 255, 255, 0.937);
  display: inline-block;
  margin: 5em;
  border-radius: 0px 200px 0px 200px;
  position: relative;
  overflow: hidden;
}


.eye2 {
  width: 300px;
  height: 150px;
  background: rgba(255, 255, 255, 0.937);
  display: inline-block;
  margin: 5em;
  border-radius: 200px 0px 200px 0px;
  position: relative;
  overflow: hidden;
}

.ball {
  width: 200px;
  height: 165px;
  background: rgba(27, 176, 181, 0.793);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}

.pupil {
  width: 40px;
  height: 160px;
  background: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}

.whisk1 {
  position: absolute;
  width: 500px;
  height: 1.5px;
  background-color: white;
  top: 21.75em;
  left: 5em;
  transform: rotate(5deg);
}

.whisk2 {
  position: absolute;
  width: 500px;
  height: 1.5px;
  background-color: white;
  top: 25em;
  left: 5em;
  transform: rotate(-5deg);
}

.whisk3 {
  position: absolute;
  width: 500px;
  height: 1.5px;
  background-color: white;
  top: 25em;
  left: 48em;
  transform: rotate(5deg);
}

.whisk4 {
  position: absolute;
  width: 500px;
  height: 1.5px;
  background-color: white;
  top: 21.75em;
  left: 48em;
  transform: rotate(-5deg);
}

.nose {
  position: absolute;
  height: 1px;
  width: 30px;
  border-top: 100px solid white;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  top: 20em;
  left: 45%;

}