.main-container {
  grid-area: main;
  padding: 3em;
  margin: 3em;
}

.bus-header {
  font-family: 'Bebas Neue', cursive;
  font-weight: 100;
  color: #629094;
  font-size: 3em;
  letter-spacing: .15em;
  padding-left: 4em;
}