/* STYLE CHANGES TO CONTACT HTML ONLY */

.main-header{
  font-size: 1.25em;
  letter-spacing: 0.15em;
  color: #629094;
}

hr{
  color: #5F5050;
  width: 16.5%;
  margin-left: auto;
  margin-right: auto;
}
