/* STYLE CHANGES TO PROJECTS HTML ONLY */

.main-container {
  grid-area: main;
  padding: 3em;
  margin: 3em;
}

.projects-header {
  font-family: 'Bebas Neue', cursive;
  font-weight: 100;
  color: #629094;
  font-size: 3.95em;
  letter-spacing: .15em;
  padding-left: 6em;
}

#projects-hr {
  color: #5F5050;
  height: 1.75px;
  width: 45%;
  margin-right: auto;
  margin-left: 19.5em;
  margin-top: 0;
  margin-bottom: 4em;
}

.card {
  margin: 1em;
}

.card-body {
  font-size: .95em;
  letter-spacing: .2em;
}

.card-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.75em;
  color: #629094;
  padding-top: 1em;
}

.card-subtitle {
  font-size: .90em;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #5F5050;
}

.card-text {
  font-size: 1.5em;
  padding-top: .5em;
  padding-bottom: .5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.card:hover {
  transform: scale(1.05);
  border-color: #629094;
}

.footer {
  margin-top: 10em;
}