* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #D9DAD3;
}

body {
  height: inherit;
  min-width: inherit;
}

/*CONTAINER - PARENT*/
.container {
  /*GRID*/
  display: grid;
  /*GRID AREA TEMPLATE*/
  grid-template-areas:
  "header header"
  "main main"
  "footer footer";

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr .5fr;
  grid-gap: 20px;

  font-family: 'Bebas Neue', cursive;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  min-width: 100%;
  overflow: auto;
  color: #191919;
}

/*RESPONSIVE STYLING*/
/* @media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "side"
      "footer";

      grid-template-columns: 1fr;
      grid-template-rows:
      auto /* Header */
    /* minmax(75px, auto) Nav */
    /* 1fr Content */
    /* minmax(75px, auto) Sidebar */
    /* auto; Footer */
  /* } */

  /* aside {
    margin: 0;
  }
}  */


.header {
  grid-area: header;
  text-align: center;
}

.logo {
  float: left;
}

ul {
  float: right;
  font-family: 'Montserrrat', sans-serif;
}

.nav {
  margin-top: 1.5em;
}

li {
  list-style: none;
  display: inline;
}

.clearfix a {
  color: #191919;
  text-decoration: none;
  text-transform: uppercase;
  padding: .5em;
  font-size: 2.1em;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
}

.clearfix a:hover {
  color: #629094;
}

.clearfix a:focus{
  color: #629094;
}

.hero {
  padding-bottom: 4em;
  text-align: left;
}

#name {
  margin-top: 1em;
  padding-left: 1.5em;
  font-size: 5em;
  letter-spacing: 0.18em;
  font-family: 'Bebas Neue', cursive;
  color: #629094;
}

#tagline {
  padding-left: 7.5em;
  font-size: 1em;
  letter-spacing: 0.25em;
}

#header-hr {
  color: #5F5050;
  width: 53%;
  height: 1.75px;
  margin-left: 0;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 1em;
}

.main {
  grid-area: main;
  margin-top: 1em;
  margin-bottom: 4em;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: 2em;
  margin-right: 2em;
  text-align: left;
  letter-spacing: 0.2em;
  font-size: 1.2em;
}

.bio {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5em;
  letter-spacing: 0.07em;
  color: #629094;
  text-align: right;
}

.bio-subtitle {
  text-align: right;
}


#bio-hr {
  color: #5F5050;
  width: 35%;
  margin-left: auto ;
  margin-right: 0;
}

.bio-prof {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.20em;
  letter-spacing: 0.15em;
  padding-top: 3.5em;
  padding-bottom: .75em;
  color: #629094;
  text-align: left;
}

.bio-personal {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.20em;
  letter-spacing: 0.15em;
  margin-bottom: 1em;
  color: #629094;
  text-align: right;
}

.bio-prof-cont {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  letter-spacing: 0.15em;
  margin-top: 1em;
  margin-right: 9em;
  margin-bottom: 1em;
}

.bio-per-cont {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  letter-spacing: 0.15em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 9em;
  text-align: right;
}

.contact-header {
  font-size: 1.25em;
  letter-spacing: 0.15em;
  color: #629094;
}

.contact-hr {
  color: #5F5050;
  width: 16.5%;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  grid-area: footer;
  margin: 2.5em;
  font-size: 1em;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.25em;
  color: #5F5050;
}

