:root {
  --primary: #d9dad3;
  --dark: #191919;
  --dark-accent: #5f5050;
  --accent-main: #629094;
}

* {
  box-sizing: border-box;
  background-color: var(--primary);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--primary);
}

::-webkit-scrollbar-thumb {
  background: var(--dark-accent);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-main);
}

body {
  height: inherit;
  min-width: inherit;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-areas:
  "header header"
  "main main"
  "footer footer";

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr .5fr;
  grid-gap: 20px;

  font-family: 'Bebas Neue', cursive;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  height: 100vh;
  min-width: 100%;
  overflow: auto;
  color: var(--dark);
}

.header {
  grid-area: header;
  text-align: center;
}

.logo {
  float: left;
}

.nav {
  margin-top: 1.5em;
}

.contact-nav {
  margin-top: 3em;
  font-size: .75em;
  padding-right: 0;
}

li {
  list-style: none;
  display: inline;
}

.clearfix a {
  color: var(--dark);
  text-decoration: none;
  text-transform: uppercase;
  padding: .5em;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
}

.clearfix a:hover {
  color: var(--accent-main);
}

.clearfix a:focus{
  color: var(--accent-main);
}

.hero {
  padding-bottom: 4em;
  text-align: left;
}

#name {
  margin-top: 1em;
  font-size: 5em;
  letter-spacing: 0.18em;
  font-family: 'Bebas Neue', cursive;
  color: var(--accent-main);
}

#tagline {
  font-size: 1em;
  letter-spacing: 0.25em;
}

#header-hr {
  color: var(--accent-main);
  width: 53%;
  height: 1.75px;
  margin-left: 0;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 1em;
}

.main {
  grid-area: main;
  margin-top: 1em;
  margin-bottom: 4em;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: 2em;
  margin-right: 2em;
  letter-spacing: 0.2em;
  font-size: 1.2em;
}

.bio {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5em;
  letter-spacing: 0.07em;
  color: var(--dark);
  text-align: right;
}

.bio-subtitle {
  text-align: right;
}

#bio-hr {
  color: var(--dark);
  width: 35%;
  margin-left: auto ;
  margin-right: 0;
}

.bio-prof {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5em;
  letter-spacing: 0.15em;
  padding-top: 3.5em;
  padding-bottom: .75em;
  color: var(--dark);
  text-align: left;
}

.bio-personal {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.75em;
  letter-spacing: 0.15em;
  margin-top: 2em;
  margin-bottom: 1em;
  color: var(--dark);
  text-align: right;
}

.bio-prof-cont {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  letter-spacing: 0.15em;
  margin-top: 1em;
  margin-right: 5em;
  margin-bottom: 1em;
}

.bio-per-cont {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  letter-spacing: 0.15em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 9em;
  text-align: right;
}

.contact-header {
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;
  letter-spacing: 0.07em;
  color: var(--dark);
  text-align: left;
}

.contact-hr {
  color: var(--dark);
  width: 30%;
  margin-left: 0;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

#contact-gh {
  text-decoration: none;
  color: var(--dark);
}

#contact-gh:hover {
  color: var(--dark-accent);
}

.footer {
  grid-area: footer;
  margin: 2.5em;
  font-size: 1em;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.25em;
  color: var(--dark);
}
